/* Reference info */

/* font-family: 'Quicksand', sans-serif; */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 65px;
  font-family: 'Quicksand', sans-serif;
  background-color: #0C1C2C;
  /* for version three */
}

/* for version three */

.intro {
  font-family: Helvetica, sans-serif;
  font-size: 200px;
  font-weight: bold;
  color: #FBFBFB;
}

.header-port {
  margin: 40px 0px 0px 0px;
}

.intro-port {
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: #FBFBFB;
  padding: 20px 0px 0px 0px;
  margin: auto auto auto auto;
}

.header-contact {
  margin: 40px 0px 0px 0px;
}

.intro-contact {
  font-family: Helvetica, sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: #FBFBFB;
  padding: 20px 0px 0px 0px;
  margin: auto auto auto auto;
}

.jumbotron-custom {
  background-image: url("../images/rawpixel-558599-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 6px;
  margin: 20px 0px 20px 0px;
}

h1 {
  color: #1C2833;
}

/* version two */

/* h3 {
  font-size: 40px;
  font-weight: bold;
} */

/* version three */

h3 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: #FBFBFB;
}

/* version three */

h5 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  /* font-weight: bold; */
  color: #FBFBFB;
}

/* for version three */

.nav-custom {
  margin: auto auto auto auto;
}

/* for version three */

.name {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #FBFBFB;
  margin-left: 15px;
}

/* for version three */

.byline {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  /* font-weight: bold; */
  color: #FBFBFB;
  margin-left: 15px;
}

.nav-link {
  margin: 10px 10px 10px 10px;
}

nav>a {
  color: #fbfbfb;
  background-color: #85929E;
  /* border: 1px solid #1C2833; */
  margin: 0px 20px 0px 20px;
}

nav>a:active {
  color: #fbfbfb;
  background-color: #1C2833;
}

nav>a:hover,
nav>a:focus {
  text-decoration: none;
  color: #FBFBFB;
  background-color: #1C2833;
}

hr {
  display: block;
  /* margin-top: 0.5em;
  margin-bottom: 0.5em; */
  margin-left: auto;
  margin-right: auto;
  border-width: 4px;
  color: #1C2833;
}

.bio-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.card {
  margin: 10px 0px 10px 0px;
}

/* version three */

.card-row {
  margin: 60px 0px 60px 0px;
}

/* version three */

.card-custom {
  background-color: #85929E;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 65px;
  line-height: 55px;
  width: 100%;
  background-color: #0C1C2C;
  color: #FBFBFB;
  text-align: center;
  font-size: 12px;
  border-top: 5px solid #85929B;
  font-family: 'Quicksand', sans-serif;
}

.form-control {
  font-family: Helvetica, sans-serif;
  color: #1C2833;
  margin: 5px 30px 0px 10px;
  clear: right;
}

.form-group {
  margin: 0px 50px 20px 0px;
}

.label {
  font-family: Helvetica, sans-serif;
  color: #1C2833;
  margin: 10px 0px 0px 20px;
  clear: right;
}

button[type="submit"] {
  width: 100px;
  background-color: #85929B;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 0px 20px 20px 10px;
  border: none;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 1.000em;
  /* changed from 16px */
}

button[type="submit"]:hover {
  background-color: #58D68D;
}

/* media query breakpoints */
@media only screen and (max-width: 375px) {
  .intro-contact {
    font-size: 50px;
    padding-left: 10px;
  }
  
  .intro-port {
    font-size: 50px;
    padding-left: 10px;
  }
} 

@media only screen and (min-width: 425px) {
  .intro-port {
    font-size: 70px;
    padding-left: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .intro-contact {
    font-size: 60px;
  }

  .intro-port {
    font-size: 70px;
  }
}

@media only screen and (min-width: 1024px) {
  .intro-contact {
    font-size: 80px;
  }

  .intro-port {
    font-size: 90px;
  }
}