/* Reference info */
/* font-family: 'Quicksand', sans-serif; */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 65px;
  font-family: 'Quicksand', sans-serif;

}

.jumbotron-custom {
  background-image: url("../images/rawpixel-558599-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  border-radius: 6px;
  margin: 20px 0px 20px 0px;
}

h1 {
  color: #1C2833;
}

h3 {
  font-size: 40px;
  font-weight: bold;
}

.nav>li>a {
  color: #1c2833;
  border: 1px solid #1C2833;
  /* margin: 0px 10px 0px 10px; */
}
.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
    color: #FBFBFB;
    background-color: #1c2833;
}

.bio-pic {
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.card {
  margin: 10px 0px 10px 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 65px;
  line-height: 55px;
  width: 100%;
  background-color: #0C1C2C;
  color: #FBFBFB;
  text-align: center;
  font-size: 12px;
  border-top: 5px solid #5D6D7E;
  font-family: 'Quicksand', sans-serif;
}