html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 65px;
  background-color: #0c1c2c;
}

/* ---- index.html ---- */

.intro {
  font-family: Helvetica, sans-serif;
  font-size: 150px;
  font-weight: bold;
  color: #fbfbfb;
}

.nav-custom {
  margin: auto auto auto auto;
}

.name-row {
  margin-bottom: 80px;
}

.name {
  font-family: Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: #fbfbfb;
  margin-left: 15px;
}

.byline {
  font-family: Helvetica, sans-serif;
  font-size: 25px;
  color: #fbfbfb;
  margin-left: 15px;
}

.bio-intro-row {
  margin: 40px 0px 0px 0px;
}

.bio-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 40px;
}

h4 {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  color: #fbfbfb;
  margin-left: 15px;
  margin-bottom: 30px;
}

.bio-body-row {
  margin: 60px 0px 0px 0px;
}

h5 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #fbfbfb;
  margin-left: 15px;
  margin-bottom: 60px;
}

.card-row {
  margin: 40px 0px 0px 0px;
}

.card {
  margin: 10px 0px 10px 0px;
}

.card-custom {
  background-color: #85929e;
}

/* ---- portfolio.html ---- */

.header-port {
  margin: 40px 0px 0px 0px;
}

.intro-port {
  font-family: Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: #fbfbfb;
  padding: 40px 0px 0px 0px;
  margin: auto auto auto auto;
}

.port-card {
  margin: 10px 10px 10px 0px;
}

/* ---- contact.html ---- */

.header-contact {
  margin: 20px 0px 0px 0px;
}

.intro-contact {
  font-family: Helvetica, sans-serif;
  font-size: 75px;
  font-weight: bold;
  color: #fbfbfb;
  padding: 20px 0px 0px 10px;
  margin: auto auto auto auto;
}

.contact-text {
  font-weight: bold;
}

.form-control {
  font-family: Helvetica, sans-serif;
  color: #1c2833;
  margin: 5px 30px 0px 10px;
  clear: right;
}

.form-group {
  margin: 0px 50px 20px 0px;
}

.label {
  font-family: Helvetica, sans-serif;
  color: #fbfbfb;
  margin: 10px 0px 0px 20px;
  clear: right;
}

button[type="submit"] {
  width: 100px;
  background-color: #85929b;
  color: white;
  padding: 10px 20px 10px 20px;
  margin: 0px 20px 20px 10px;
  border: none;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
}

button[type="submit"]:hover {
  background-color: #58d68d;
}

/* ---- navigation links ---- */
.nav-link {
  margin: 10px 10px 10px 10px;
}

nav > a {
  color: #fbfbfb;
  background-color: #85929e;
  margin: 0px 20px 0px 20px;
}

nav > a:active {
  color: #fbfbfb;
  background-color: #1c2833;
}

nav > a:hover,
nav > a:focus {
  text-decoration: none;
  color: #fbfbfb;
  background-color: #1c2833;
}

/* ---- footer ---- */

.footer {
  position: absolute;
  bottom: 0;
  height: 65px;
  line-height: 55px;
  width: 100%;
  background-color: #0c1c2c;
  color: #fbfbfb;
  text-align: center;
  font-size: 12px;
  border-top: 5px solid #85929b;
  font-family: "Quicksand", sans-serif;
}

/* media query breakpoints */
@media only screen and (max-width: 375px) {
  .intro-contact {
    font-size: 50px;
    padding-left: 10px;
  }

  .intro-port {
    font-size: 50px;
    padding-left: 10px;
  }

  .name-row {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .name {
    font-size: 35px;
  }

  .byline {
    font-size: 12px;
  }
}

@media only screen and (min-width: 425px) {
  .intro-port {
    font-size: 70px;
    padding-left: 10px;
  }

  .name-row {
    margin-top: 20px;
    margin-bottom: 60px;
  }

  .byline {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .intro-contact {
    font-size: 60px;
  }

  .intro-port {
    font-size: 70px;
  }

  .byline {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1024px) {
  .intro-contact {
    font-size: 80px;
  }

  .intro-port {
    font-size: 90px;
  }
}
